/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

body{
  background: url("movie/background-slate.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}


h1{
  color: lemonchiffon;
  text-align: center;
  margin : 0;
  padding: 20px 0;
  font-family: 'Times New Roman', Times, serif ;
  font-size: 90px;
  font-weight: bold;
}

h2{
  color: lemonchiffon;
  text-align: center;
  margin: 10px;
  padding: 10px 0 ;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
}

h3{
  color: lemonchiffon;
  text-align: center;
  font-size: 45px;
}

h3.answer{
  color: red;
  font-weight: 400;
}

h4{
 color: lemonchiffon;
  text-align: center;
}

p{
  color: lemonchiffon;
  font-size: 35px;
}

img{
  display: flex;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 400px;
  border: 1px solid black;
  border-radius : 8px;
}

button{
  font-size: 30px;
  padding: auto;
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

button:hover{
  background-color: #555555;
  color: white;
}

.checkpage{
  margin: 40px;
  border: 1px;
  padding: 200px 20px 20px 20px ;
}

form input[type="radio"]{
  font-size: 20px;
}

@media all and (mi-width: 800px){
  body {
    width: 80%;
    margin: 0 auto;
  }
}
